body{
   
    font-family:"Open Sans"
}
.site{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
img {
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
    }
body {
    background-color: black;
    min-height: 100vh;
    color: white;
    
}
label {
    color: white

}
p{
    color: white;
}
#news-select{
    color: white;
    display: block;
    text-align: center;
}
header{
    max-width: 640px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}.select-form-container{
    display: flex;
    justify-content: center;

}


.select-form{
    display: block;
    text-align: center;
  
}

footer{
    display:flex;
    justify-content: center;
    margin-top: 100px;
    align-self: flex-end;
}