body{
   
    font-family:"Open Sans"
}
.site{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

img {

    max-width: 100%;

}
.logo {
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
    align-content: center;
    }
body {
    background-color: black;
    min-height: 100vh;
    color: white;
    
}
label {
    color: white

}
p{
    color: white;
}
#news-select{
    color: white;
    display: block;
    text-align: center;
}
header{
    max-width: 640px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}.select-form-container{
    display: flex;
    justify-content: center;

}


.select-form{
    display: block;
    text-align: center;
  
}

ul{
    list-style: none;
    padding: 0;

}
.article{
position: relative;
object-fit: cover;
max-height: 400px;
max-width: 600px;

}


.article-text{
position: absolute;
bottom: 0px;
margin:0;
padding: 1em;
background: rgba(0,0,0,0.5)
// max-width: 600px;

}
.article-pic {
    // max-width: 600px;
}
footer{
    display:flex;
    justify-content: center;
    margin-top: 100px;
    bottom: 0px;
}
