body{
   
    font-family:"Open Sans"
}
.site{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

img {

    max-width: 100%;

}
.logo {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    align-content: center;
    }
body {
    background-color: black;
    min-height: 100vh;
    color: white;
    
}
label {
    color: white

}
.display-news-container {

    padding-top: 40px;
}
#news-select-form {
    color:black;
}
p{
    color: white;
}
#news-select{
    color: black;
    display: block;
    text-align: center;
    background-color: white;
}
header{

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .7s;

}
.select-form-container{
    display: flex;
    justify-content: right;

}


.select-form{
    display: block;
    text-align: center;
    
}
#news-select{
    width: 100%;
}
.site_main {
    display: hide;
}


ul{
    list-style: none;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;

}
.article{
position: relative;
object-fit: cover;
// max-width: 600px;
   }
.article-pic {
position: relative;
object-fit: cover;
height: 100vw;
width: 100vw;
display: block;
   }

.article-text{
position: absolute;
bottom: 0px;
margin:0;
padding: .5em;
font-size: .9em;
background: rgba(0,0,0,0.5)
// max-width: 600px;

}

footer{
    display:flex;
    justify-content: center;
    margin-top: 100px;
    bottom: 0px;
}
.shrink {
    flex-grow: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .margin {

    margin-left: 20px;
}

  .grow {
    flex-grow: 1;
   
  }



@include phone{

    .select-form-container, header{

        max-width: 140px;
        margin-left: auto;
        margin-right: auto;
        display: block;
       
    }
    .logo {
        margin-left: 0;
    }

}
@include tablet{

    .logo {
        max-height: 75px;
        margin-top: 20px;
        margin-bottom: 20px;
        // margin-left: 50px;
    }
    #news-select {
        font-size: .7em;
    }
    label {
        font-size: .7em;
    }
    .display-news-container {

        padding-top: 0;
    }

    .select-form-container, header{
        max-width: fit-content;
        margin-left: 10px;
        display: flex;
    }
    // .select-form-container, header{

    //     max-width: 140px;
    //     margin-left: auto;
    //     margin-right: auto;
    //     display: flex;
       
    // }
    .select-form {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .news-articles {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        flex-wrap: wrap;
    }
   .article{
    position: relative;
    object-fit: cover;
    display: inline;
   
       }
    .article-pic {
    position: relative;
    object-fit: cover;
    width: 50vw;
    height: 60vw;
    
       }

    @include desktop{
        .article-pic {
            width: 25vw;
            height: 30vw;
        }

        .select-form-container, header{
        max-width: fit-content;
        margin-left: 10px;
        display: flex;
    }
}
}