

.site{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.site_main {
    display: hide;
}
body{
    font-family:"Open Sans";
    display: flex;
    flex-direction: column;
}

body {
    background-color: black;
    min-height: 100vh;
    color: white;
    
}
img {

    max-width: 100%;

}
.logo {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    align-content: center;
    }

header{

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .7s;

}


// / Select form and label ///////
label {
    color: white

}
.display-news-container {

    padding-top: 40px;
}


p{
    color: white;
}
#news-select{
    color: black;
    display: block;
    text-align: center;
    background-color: white;
}


.select-form-container{
    display: flex;
    justify-content: right;

}


.select-form{
    display: block;
    text-align: center;
    
}
#news-select{
    width: 100%;
}

#news-select {
    font-size: 1em;
    font-weight: 600;
}

#loader {

    padding-top: 8px;
}


ul{
    list-style: none;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;

}

// ////   News Articles /  /////
.article{
position: relative;
object-fit: cover;

   }
.article-pic {
position: relative;
object-fit: cover;
height: 100vw;
width: 100vw;
display: block;
   }

.article-text{
position: absolute;
bottom: 0px;
margin:0;
padding: .5em;
font-size: .9em;
background: rgba(0,0,0,0.5)


}

footer{
    display:flex;
    justify-content: center;
    font-size: .9em;
    font-weight: 100;
    margin-top: 100px;
    bottom: 0px;
}


// Media Queries /////



@include phone{

    .select-form-container, header{

        max-width: 140px;
        margin-left: auto;
        margin-right: auto;
        
    }
}

    label {
    font-size: .7em;
}
    .logo {
        margin-left: 0;
    }


@include tablet{

    .logo {
    
        margin-top: 20px;
        margin-bottom: 20px;

    }
    
    label {
        font-size: 1em;
    }
    header {
        flex-direction: row;
    }
    .display-news-container {

        padding-top: 0;
    }

    .select-form-container, header{
        max-width: fit-content;
        display: flex;
    }

    .select-form {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .news-articles {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        flex-wrap: wrap;
    }
   .article{
    position: relative;
    object-fit: cover;
    display: inline;
   
       }
    .article-pic {
    position: relative;
    object-fit: cover;
    width: 50vw;
    height: 60vw;
    
       }
       .shrink {
        flex-grow: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        margin-left: 0;
      }
      
    
      .grow {
        flex-grow: 1;
       
      }
      .margin {
          margin-left: 10px;
      }

    @include desktop{
        .article-pic {
            width: 25vw;
            height: 30vw;
        }

        .select-form-container, header{
        max-width: fit-content;
        margin-left: 10px;
        display: flex;
    }
        footer{
            justify-content: left;
            padding-left: 20px;
          
    }
}
}